<form action="/answer" data-turbo="false" method="get">
  <label for="question">Ask your coach anything:</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<%# Send the form input info to the answer page %>
<%# In the answer page we want to get the info the user put in the ask page %>
